# Dependencies
node_modules/
**/node_modules/

# Builds
build/
**/build/
client/build/
server/build/

# Caches
.cache/
**/.cache/
client/node_modules/.cache/

# Tesseract Trained Data
*.traineddata

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
